<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<!-- <img src="/img/tk-favicon.png" width="0" height="0" /> -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="/tk-favicon.ico"> -->
<link rel="shortcut icon" type="image/png" href="/tk-favicon.png">
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
